<html>
     <head>
     </head>
     <body>
     <div class="formwrapper">
	    <h2 class="title">Events</h2>
	    <form method="POST" action="/">
			{{ form.csrf_token }}
		<div class="form-field">
			{{ form.city.label }}
			{{ form.city }}
		</div>
		<div class="form-field">
			{{ form.date.label }}
			{{ form.date }}
		</div>
		<div class="form-field">
			{{ form.temperature.label }}
			{{ form.temperature }}
		</div>
		<input type="submit" value="Go">
	    </form>
     </div>
</body>
</html>